/*  TURTLE - TEKI
    (°-°) _______
      \ \/ - - - \_
       \_  ___  ___>
         \__) \__)    */


.gallery > div {
    height: min-content;
    width: min-content;
}

.gallery {
    height: min-content;
}