.gallery img {
    max-width: 100%;
    max-height: 17.5rem;
}

.gallery > div {
    height: min-content;
    width: min-content;
}

.gallery {
    margin-bottom: min(.75rem, .75vw);
    display: flex;

    max-height: 17.5rem;
    height: min-content;
    overflow: hidden;
    gap: min(.750rem, .750vw);
}