/*  TURTLE - TEKI
    (°-°) _______
      \ \/ - - - \_
       \_  ___  ___>
         \__) \__)    */


#cursor {
    transform: translate(-50%, -50%);
}

#cursor {
    border: 3px solid #fff;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, .75);
    transition: all .3s ease-out, left 0s, top 0s;
}

#cursor.hover {
    transform: scale(2) translate(-25%) translateY(-25%);
    border: none;
    background-color: rgba(255, 255, 255, .25);
}

#cursor.click {
    transform: scale(.5) translate(-25%) translateY(-25%);
    border: none;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, .75);

    mix-blend-mode: difference;
    /* Fix for a bug in Chrome 90 bug (https://stackoverflow.com/questions/66204563/backdrop-filter-not-working-when-mix-blend-mode-of-another-element-on-the-page-i) */
    backdrop-filter: opacity(1);
}

#cursor.text {transform: scale(.5) translate(-25%) translateY(-25%);
    border: none;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, .75);

    mix-blend-mode: difference;
    /* Fix for a bug in Chrome 90 bug (https://stackoverflow.com/questions/66204563/backdrop-filter-not-working-when-mix-blend-mode-of-another-element-on-the-page-i) */
    backdrop-filter: opacity(1);
}