/*  TURTLE - TEKI
    (°-°) _______
      \ \/ - - - \_
       \_  ___  ___>
         \__) \__)    */


#navbar a {
    font-family: "Inter";
}

#navbar a.first {
    padding-left: min(5rem, 5vw);
}

#navbar a.last {
    padding-right: min(5rem, 5vw);
}

#navbar a.home {
    font-family: "InterBold";
}


@media screen and (max-width: calc(768px)) {
    #navbar-links {
        overflow-y: visible;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 4rem; /* 75px was the height of the navbar */

        height: calc(100vh - 4rem);

        display: block;

        flex-direction: column;
        justify-content: center;

        color: #EFEFEF;

        backdrop-filter: saturate(200%) blur(20px);
        background-color: rgba(9,9,9,.5);

        transform: translateX(100%);
        transition: transform .4s ease-in;
    }

    #navbar-links.navbar-links-active {
        transform: translateX(0%);
    }

    #navbar ul {
        display: inline;
    }

    #navbar ul li {
        padding: 12px;
    }

    #navbar a.active {
        font-weight: normal;
        color: #EFEFEF;
    }

    #navbar a.home {
        color: #173959;
    }
}