/*  TURTLE - TEKI
    (°-°) _______
      \ \/ - - - \_
       \_  ___  ___>
         \__) \__)    */


.project-bundle {
    background-repeat: repeat;
}

.project-bundle-content > div {
    width: min-content;
}

.project-bundle-content img {
    max-height: 5rem;
    max-width: 5rem;
}