/*  TURTLE - TEKI
    (°-°) _______
      \ \/ - - - \_
       \_  ___  ___>
         \__) \__)   */


@font-face {
  font-family: 'InterLight';
  src: url('./fonts/Inter-Light.ttf'); /* IE9 Compat Modes */
  src: url('./fonts/Inter-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.ttf'); /* IE9 Compat Modes */
  src: url('./fonts/Inter-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'InterBold';
  src: url('./fonts/Inter-Bold.ttf'); /* IE9 Compat Modes */
  src: url('./fonts/Inter-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

/** Scrollbar **/
/* Width */
::-webkit-scrollbar {
  width: .9em;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #35363A;
  border: 3px solid #F3F4F6;
  border-radius: 0.75rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #202124;
  border: 3px solid #F3F4F6;
  border-radius: 0.75rem;
}

::selection {
  backdrop-filter: saturate(200%) blur(20px);
  background-color: rgba(9,9,9, 1);
  color: #EFEFEF;
  font-weight: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter";

  /* Unselectable */
  user-select:         none;
  -moz-user-select:    none;
  -khtml-user-select:  none;
  -webkit-user-select: none;
  -o-user-select:      none;

  -webkit-user-drag:   none;
  -khtml-user-drag:    none;
  -moz-user-drag:      none;
  -o-user-drag:        none;
  -ms-user-drag:       none;
  user-drag:           none;
}

html {
  scroll-padding-top: 75px; /* height of sticky header*/

  scroll-behavior: smooth;
  overscroll-behavior-y: none;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  
  min-width: 100vw;
  max-width: 100vw;

  background: #ffffff;

  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

.selectable, .selectable > * {
  user-select:         text;
  -moz-user-select:    text;
  -khtml-user-select:  text;
  -webkit-user-select: text;
  -o-user-select:      text;
}

.draggable {
  -webkit-user-drag:   auto;
  -khtml-user-drag:    auto;
  -moz-user-drag:      auto;
  -o-user-drag:        auto;
  -ms-user-drag:       auto;
  user-drag:           auto;
}

h1.white {
  color: #EFEFEF;
  font-family: 'Inter';
  font-size: min(5rem, 10vw); /*4rem;*/

  text-align: left;
}

h2.white {
  color: #EFEFEF;
  font-family: 'Inter';
  font-size: min(2.5rem, 5vw); /*2.5rem;*/

  text-align: left;
}

a {
  -webkit-user-drag:   auto;
  -khtml-user-drag:    auto;
  -moz-user-drag:      auto;
  -o-user-drag:        auto;
  -ms-user-drag:       auto;
  user-drag:           auto;

  color: #EFEFEF;
  text-decoration: none;
}

hr {
  background-color: #FFFFFF;

  margin-top: 4px;
  margin-bottom: 4px;
  
  opacity: 0.5;
  height: 2px;
}

abbr[title] {
  
  position: relative;
  user-select: all;

  /* ensure consistent styling across browsers */
  text-decoration: none;
  font-weight: bold;
  color: #173959;
}

abbr[title]:hover::after,
abbr[title]:focus::after {
  content: attr(title);
  
  z-index: 1001;

  /* position tooltip like the native one */
  position: absolute;

  width: min-content;
  white-space: nowrap;

  top: 1rem;

  font-weight: normal;
  backdrop-filter: saturate(200%) blur(20px);
  background-color: rgba(9,9,9,.5);
  color: #fff;
  border-radius: 14px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
  font-size: 1.25rem;

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.blur-dark {
  backdrop-filter: saturate(200%) blur(20px);
  background-color: rgba(9,9,9,.5);
}

.blur-light {
  backdrop-filter: saturate(200%) blur(20px);
  background-color: rgba(255, 255, 255, 0.4);
}

.nowrap {
  white-space: nowrap;
}