@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.ttf'); /* IE9 Compat Modes */
  src: url('./fonts/Inter-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'InterBold';
  src: url('./fonts/Inter-Bold.ttf'); /* IE9 Compat Modes */
  src: url('./fonts/Inter-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter";
}

h1.white {
  color: #EFEFEF;
  font-family: 'Inter';
  font-size: calc((1vh + 1vw) / 2 * 7.5);

  text-align: left;
}

h2.white {
  color: #EFEFEF;
  font-family: 'Inter';
  font-size: calc((1vh + 1vw) / 2 * 5);

  text-align: left;
}