/** Couses error on abbr tags with title attribute **/
/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

@layer components {
  #navbar a.inactive {
	  @apply text-white md:text-black
  }

  #navbar a.active {
	  @apply text-white md:text-activeAccentLight-500
  }
}

body {
	overflow-x: hidden;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}