/*  TURTLE - TEKI
    (°-°) _______
      \ \/ - - - \_
       \_  ___  ___>
         \__) \__)    */


/** Couses error on abbr tags with title attribute **/
/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

@layer components {
  #navbar li {
    @apply list-none
  }

  #navbar a {
    @apply no-underline px-5 align-middle
  }

  #navbar a.inactive {
	  @apply text-white md:text-black
  }

  #navbar a.active {
	  @apply text-white md:text-activeAccentLight font-normal md:font-bold
  }

  #more-tooltip li {
    @apply list-none px-6 py-1
  }

  #more-tooltip a {
    @apply align-middle text-primaryLightHover text-2xl no-underline hover:text-white
  }

  article {
	  @apply bg-white
  }

  article.article-preview-big a {
    @apply text-black
  }

  article .article-content {
    @apply m-auto
  }

  article .section {
    @apply bg-secondaryLight my-10
  }

  article a {
    @apply text-homeAccentLight font-bold
  }

  article .text-title {
    @apply text-3xl font-bold mt-10 mb-4 px-12
  }

  article .text-subtitle {
    @apply text-2xl italic mt-4 mb-2 mx-12
  }

  article .text-smallsubtitle {
    @apply text-xl italic mt-4 mb-2 mx-12 font-normal
  }

  article .text-subsubtitle {
    @apply text-xl mt-0 mb-2 px-12
  }

  article .text {
    @apply text-base mt-0 mb-3 px-12 text-justify
  }

  article .null-padding {
    @apply p-0 m-0
  }

  article .terminal {
    @apply text-base my-0 px-12
  }

  .nowrap {
	  @apply whitespace-nowrap
  }

  article .gallery {
    @apply px-12 py-0 my-3
  }

  article .gallery img {
    @apply max-w-full
  }

  article .project-bundle.text-title {
    @apply pt-10 pb-4
  }

  #dock.inactive {
    @apply -bottom-1/2 md:bottom-3
  }

  .dock-element {
    @apply content-evenly w-32 py-3 inline-block text-lg md:text-base leading-8 md:p-2
  }

  .dock-element img {
    @apply w-auto h-10 md:h-12
  }

  footer {
	  @apply z-10 bg-tertiaryLight w-screen mx-0 my-auto
  }

  #footer-content li {
	  @apply text-left list-none
  }

  #footer-content>li {
	  @apply pt-7 px-10 inline-table text-xl text-primaryLightHover
  }

  #footer-content li>ul {
	  @apply pt-2
  }

  #footer-content li>ul>li {
	  @apply text-primaryLight text-base pb-1
  }

  footer a {
	@apply text-primaryLight hover:text-primaryLightHover break-words
  }
}

body {
	overflow-x: hidden;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}