/*  TURTLE - TEKI
    (°-°) _______
      \ \/ - - - \_
       \_  ___  ___>
         \__) \__)    */

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/** Scrollbar **/
/* Width */
::-webkit-scrollbar {
  width: .9em;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #35363A;
  border: 3px solid #F3F4F6;
  border-radius: 0.75rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #202124;
  border: 3px solid #F3F4F6;
  border-radius: 0.75rem;
}

::selection {
  backdrop-filter: saturate(200%) blur(20px);
  background-color: rgba(9,9,9, 1);
  color: #EFEFEF;
  font-weight: normal;
}

* {
  -webkit-user-drag:   none;
  -khtml-user-drag:    none;
  -moz-user-drag:      none;
  -o-user-drag:        none;
  -ms-user-drag:       none;
  user-drag:           none;

  user-select: inherit;
}

html {
  scroll-padding-top: 4rem; /* height of sticky header*/

  scroll-behavior: smooth;
  overscroll-behavior-y: none;
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

.selectable, .selectable > * {
  user-select:         text;
  -moz-user-select:    text;
  -khtml-user-select:  text;
  -webkit-user-select: text;
  -o-user-select:      text;
}

.draggable {
  -webkit-user-drag:   auto;
  -khtml-user-drag:    auto;
  -moz-user-drag:      auto;
  -o-user-drag:        auto;
  -ms-user-drag:       auto;
  user-drag:           auto;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
}

a {
  -webkit-user-drag:   auto;
  -khtml-user-drag:    auto;
  -moz-user-drag:      auto;
  -o-user-drag:        auto;
  -ms-user-drag:       auto;
  user-drag:           auto;
}

hr {
  height: 2px;
}

abbr[title]:hover::after,
abbr[title]:focus::after {
  content: attr(customtitle);
  
  z-index: 40;

  /* position tooltip like the native one */
  position: absolute;

  width: min-content;
  white-space: nowrap;

  top: 1rem;

  font-weight: normal;
  backdrop-filter: saturate(200%) blur(20px);
  background-color: rgba(9,9,9,.5);
  color: #fff;
  border-radius: 14px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
  font-size: 1.25rem;

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.blur-dark {
  backdrop-filter: saturate(200%) blur(20px);
  background-color: rgba(9,9,9,.5);
}

.blur-light {
  backdrop-filter: saturate(200%) blur(20px);
  background-color: rgba(255, 255, 255, 0.4);
}

@keyframes fade1 {
  0%   { max-width: 7.5rem; }
  40%  { max-width: 7.5rem; }
  45%  { max-width: 2.5rem; }
  50%  { max-width: 2.5rem; }
  90%  { max-width: 2.5rem; }
  95%  { max-width: 2.5rem; }
  100% { max-width: 7.5rem; }
}
@-o-keyframes fade1 {
  0%   { max-width: 7.5rem; }
  40%  { max-width: 7.5rem; }
  45%  { max-width: 2.5rem; }
  50%  { max-width: 2.5rem; }
  90%  { max-width: 2.5rem; }
  95%  { max-width: 2.5rem; }
  100% { max-width: 7.5rem; }
}
@-moz-keyframes fade1 {
  0%   { max-width: 7.5rem; }
  40%  { max-width: 7.5rem; }
  45%  { max-width: 2.5rem; }
  50%  { max-width: 2.5rem; }
  90%  { max-width: 2.5rem; }
  95%  { max-width: 2.5rem; }
  100% { max-width: 7.5rem; }
}
@-webkit-keyframes fade1 {
  0%   { max-width: 7.5rem; }
  40%  { max-width: 7.5rem; }
  45%  { max-width: 2.5rem; }
  50%  { max-width: 2.5rem; }
  90%  { max-width: 2.5rem; }
  95%  { max-width: 2.5rem; }
  100% { max-width: 7.5rem; }
}

.fade1 {
   -webkit-animation: fade1 10s infinite;
   -moz-animation: fade1 10s infinite;
   -o-animation: fade1 10s infinite;
    animation: fade1 10s infinite;
}

@keyframes fade2 {
  0%   { opacity: 0; }
  40%  { opacity: 0; }
  45%  { opacity: 1; }
  50%  { opacity: 1; }
  90%  { opacity: 1; }
  95%  { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes fade2 {
  0%   { opacity: 0; }
  40%  { opacity: 0; }
  45%  { opacity: 1; }
  50%  { opacity: 1; }
  90%  { opacity: 1; }
  95%  { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes fade2 {
  0%   { opacity: 0; }
  40%  { opacity: 0; }
  45%  { opacity: 1; }
  50%  { opacity: 1; }
  90%  { opacity: 1; }
  95%  { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes fade2 {
  0%   { opacity: 0; }
  40%  { opacity: 0; }
  45%  { opacity: 1; }
  50%  { opacity: 1; }
  90%  { opacity: 1; }
  95%  { opacity: 1; }
  100% { opacity: 0; }
}

.fade2 {
  -webkit-animation: fade2 10s infinite;
  -moz-animation: fade2 10s infinite;
  -o-animation: fade2 10s infinite;
   animation: fade2 10s infinite;
}