q {
    quotes: '"', '"';
}


/* https://en.wikipedia.org/wiki/Quotation_mark */

/* Afrikaans */
q:lang(af) {
    quotes: '“' '”' '‘' '’';
}
/* Albanian */
q:lang(sq) {
    quotes: '„' '“' '‘' '’';
}
/* Amharic */
q:lang(am) {
    quotes: '«' '»' '‹' '›';
}
/* Arabic */
q:lang(ar) {
    quotes: '«' '»';
}
/* Armenian */
q:lang(hy) {
    quotes: '«' '»';
}
/* Azerbaijani */
q:lang(az) {
    quotes: '«' '»' '„' '“';
}
/* Basque */
q:lang(eu) {
    quotes: '«' '»' '“' '”';
}
/* Belarusian */
q:lang(be) {
    quotes: '«' '»' '„' '“';
}
/* Bosnian */
q:lang(bs) {
    quotes: '”' '”' '’' '’';
}
/* Bulgarian */
q:lang(bg) {
    quotes: '„' '“' '‘' '’';
}
/* Catalan */
q:lang(ca) {
    quotes: '«' '»' '“' '”';
}
/* Chinese, simplified */
q:lang(zh) {
    quotes: '“' '”' '‘' '’';
}
/* Croatian */
q:lang(hr) {
    quotes: '„' '”' '‘' '’';
}
/* Czech */
q:lang(cs) {
    quotes: '„' '“' '‚' '‘';
}
/* Danish */
q:lang(da) {
    quotes: '"' '"' '‘' '‘';
}
/* Dutch */
q:lang(nl) {
    quotes: '“' '”' '‘' '’';
}
/* English */
q:lang(en) {
    quotes: '‘' '’' '“' '”';
}
/* Esperanto */
q:lang(eo) {
    quotes: '“' '”' '‘' '’';
}
/* Estonian */
q:lang(et) {
    quotes: '„' '“';
}
/* Filipino */
q:lang(fil) {
    quotes: '“' '”' '‘' '’';
}
/* Finnish */
q:lang(fi) {
    quotes: '”' '”' '’' '’';
}
/* Finnish */
q:lang(fi) {
    quotes: '”' '”' '’' '’';
}
/* French */
q:lang(fr) {
    quotes: '«' '»' '«' '»';
}
/* Galiciam */
q:lang(gl) {
    quotes: '«' '»' '“' '”';
}