/*  TURTLE - TEKI
    (°-°) _______
      \ \/ - - - \_
       \_  ___  ___>
         \__) \__)    */

         
#more-tooltip {
    top: 74px;

    transition: opacity .15s ease-in-out, display .3s linear;
}

#more-tooltip li:first-child {
    padding-top: 16px;
}

#more-tooltip li:last-child {
    padding-bottom: 16px;
}

#more-tooltip a {
    font-family: "Inter";
    transition: color .25s ease-in-out;
}